django==1.5.1
wsgiref==0.1.2
unipath==1.0
psycopg2==2.5.1
pymongo==2.6.3
django-mongonaut==0.2.19
httplib2==0.8
requests==1.2.3
argparse==1.2.1
south==0.8.1
csvkit==0.5.0
django-debug-toolbar==0.9.4
git+https://github.com/seanbradley/django-registration
django-registration-defaults==0.3
django-yearlessdate==0.3-beta
django-braces
django-crispy-forms
django-email-bandit
yolk==0.4.3
docutils